html
  head
    title My Site - #{title}
  body
    block header
      header.header
        p some header content
    block main
    block footer
      footer.footer
        p some footer content
    block scripts
      script(src='js/data.js')        